altair==4.2.0
altgraph==0.17.2
apispec==6.3.0
appdirs==1.4.4
asgiref==3.4.1
astroid==2.4.2
attrs==21.2.0
auto-py-to-exe==2.23.0
autobahn==21.11.1
Automat==20.2.0
autopep8==1.5.7
beautifulsoup4==4.8.2
black==21.12b0
blinker==1.5
bottle==0.12.23
bottle-websocket==0.2.9
cachetools==5.2.0
certifi==2021.10.8
cffi==1.15.0
channels==3.0.4
chardet==4.0.0
charset-normalizer==2.1.1
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
comtypes==1.2.0
constantly==15.1.0
cryptography==36.0.1
daphne==3.0.2
decorator==5.1.1
distlib==0.3.1
Django==4.0
django-autoslug==1.9.9
django-cors-headers==3.10.0
django-crispy-forms==1.13.0
django-filter==2.4.0
django-jazzmin==2.6.0
django-markdownx==3.0.1
django-semantic-admin==0.3.10
django-serializer==1.2.1
django-taggit==4.0.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
djongo==1.3.6
dnspython==2.6.1
Eel==0.14.0
entrypoints==0.4
fake-useragent==0.1.11
filelock==3.0.12
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
gitdb==4.0.9
gitdb2==4.0.2
GitPython==3.0.6
greenlet==1.1.3
harwest==0.3.2
hyperlink==21.0.0
idna==2.10
importlib-metadata==4.10.0
incremental==21.3.0
isort==5.7.0
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.16.0
lazy-object-proxy==1.4.3
lxml==5.1.0
Markdown==3.3.6
MarkupSafe==2.1.1
marshmallow==3.20.1
mccabe==0.6.1
mypy-extensions==0.4.3
numpy==1.23.3
packaging==21.3
pandas==1.4.4
pathspec==0.9.0
pefile==2022.5.30
Pillow==8.4.0
platformdirs==2.4.1
protobuf==3.20.1
psycopg2==2.9.9
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.14
pycodestyle==2.8.0
pycparser==2.21
pydeck==0.8.0b3
Pygments==2.13.0
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.10
PyJWT==2.8.0
pylint==2.6.0
pymongo==3.12.0
Pympler==1.0.1
pyOpenSSL==21.0.0
pyparsing==3.0.9
pypiwin32==223
pyrsistent==0.18.1
python-dateutil==2.8.2
pyttsx3==2.90
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==306
pywin32-ctypes==0.2.0
requests==2.25.1
rich==12.5.1
scikit-learn==1.1.2
scipy==1.9.1
semver==2.13.0
serializers==0.2.4
service-identity==21.1.0
six==1.15.0
sklearn==0.0
smmap==5.0.0
soupsieve==2.2.1
SpeechRecognition==3.10.1
sqlparse==0.2.4
sslcommerz-lib==1.0
streamlit==1.12.2
streamlit-option-menu==0.3.2
threadpoolctl==3.1.0
toml==0.10.2
tomli==1.2.3
toolz==0.12.0
tornado==6.2
Twisted==21.7.0
twisted-iocpsupport==1.0.2
txaio==21.2.1
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.2
urllib3==1.26.7
validators==0.20.0
virtualenv==20.3.1
virtualenvwrapper-win==1.2.6
watchdog==2.1.9
whichcraft==0.6.1
whitenoise==5.3.0
wikipedia==1.4.0
wrapt==1.12.1
zipp==3.7.0
zope.event==4.5.0
zope.interface==5.4.0
